.footer {
    background-color: #000;
    color: #fff;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #19180a;
    min-height: 80px;
    display: flex;
    align-items: center;
    
    

}

.navbar a {
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover {
    color: #999
}
.logo{
    width: 170px;
    height: 170px;
  }
